body,html{padding:0}
html{height:100%}
body{background:url(../img/bg_noise_medium.png);min-height:100%}
body.page-width{width:100%}
#wrapper{margin:0 auto;width:960px;padding-top:40px}
#wrapper.with-hints{margin-right:auto}
#wrapper #content{
	background:#FFF;
	padding:50px 0px;
	
	-moz-box-shadow:0 0 5px #999;
	-webkit-box-shadow:0 0 5px #999;
	-o-box-shadow:0 0 5px #999;
	box-shadow:0 0 5px #999;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px
}
.form_intro {
	margin:0 auto;
	position:relative;
	width:100%;
	height:100px;
	font-family:'Lucida Grande','Lucida Sans Unicode', sans-serif;
	text-align:center;
	font-size:28px;
	line-height:0px;
	font-weight:bold;
	background:url(../img/quote_shadow.jpg) center 51px no-repeat;
	color:#444;
}
#wrapper #content .form-description {
	margin-bottom:42px
}
#wrapper .footer {
	text-align:center
}
html.mobile-device #wrapper {
	padding-top:0;width:100%
}
html.dark #wrapper #content{
	background:#333;
	box-shadow:none
}