/*		

	
	  _____      _ _       __ __ 
	 |  __ \    | (_)     / _/_ |
	 | |__) |___| |_  ___| |_ | |
	 |  _  // _ \ | |/ _ \  _|| |
	 | | \ \  __/ | |  __/ |  | |
	 |_|  \_\___|_|_|\___|_|  |_|
								 
	
	- project : relief1.org V1.0


/*--------------------------------------------------------
           BODY
--------------------------------------------------------*/
body {
	margin:0;
	padding:0;
	min-height:500px;
	min-width:500px;
	background:url(../img/bg_noise_medium.png);
}

/*--------------------------------------------------------
           ABOUT US CONTAINER
--------------------------------------------------------*/
#sponsor_container {
	margin:0 auto;
	width:960px;
	height:580px;
	margin-top:40px;
	margin-bottom:40px;

	background:#FFF;
	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
	-moz-box-shadow:0 0 5px #999;
	-webkit-box-shadow:0 0 5px #999;
	box-shadow:0 0 5px #999;
}
/*--------------------------------------------------------
           HEADING
--------------------------------------------------------*/
.heading {
	margin:0 auto;
	position:relative;
	width:100%;
	height:150px;
	font-family:'Lucida Grande','Lucida Sans Unicode', sans-serif;
	margin-top:40px;
	text-align:center;
	font-size:28px;
	line-height:100px;
	font-weight:bold;
	background:url(../img/quote_shadow.jpg) center 100px no-repeat;
	color:#444;
}
/*--------------------------------------------------------
           LOGO CONTAINER
--------------------------------------------------------*/
.logo_container {
	position:relative;
	width:527px;
	height:383px;
	background:#FFF;
	padding:px 5px;
	margin-left:40px;
	float:left;
}
.logo_frame {
	width:170px;
	height:153px;
	background:#FFF;
	margin-bottom:12px;
	margin-right:7px;
	text-align:center;
	float:left;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.logo_image {
	margin:0 auto;
	width:145px;
	height:92px;
	line-height:130px;
}
.logo_text {
	margin-top:10px;
	font-size:11px;
}
.logo_text a {
	margin:0 auto;
	color:#89CEDE;
	font-size:11px;
}

/*--------------------------------------------------------
           TEXT CONTAINER
--------------------------------------------------------*/
.text_container {
	width:290px;
	height:280px;
	background:#FFF;
	padding:25px 10px;
	margin-left:40px;
	float:left;
}
.sponsor_us_title {
	font-size:22px;
}
.sponsor_us_text {
	font-size:14px;
	margin-top:10px;
	float:left;
}

/*--------------------------------------------------------
           SUPPORT BUTTON
--------------------------------------------------------*/
.support_btn {
	width:180px;
	height:40px;
	background:url(../img/become_sponsor_btn.png) no-repeat center 0px;
	float:left;
	text-align:center;
	line-height:40px;
	margin:20px 0px;
	cursor:pointer;
	
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.support_btn:hover {
	background-position:center -40px;
}
.support_btn:active {
	background-position:center -80px;
	text-shadow:0 -1px 0px #fbdd9e;
}
.support_mailto {
	color:#111;
	text-decoration:none;
	text-shadow:0 1px 0px #fbdd9e;
}